{% extends "app/base_site.html" %}

{% block title %} Pago Compras {% endblock title %}


{% block content %}
  <div class="right_col" role="main">
    
    <div class="row">
      <!-- form para el ingreso de los datos de una nueva compra -->
    <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Compras de Maiz</h2>
            
            <div class="clearfix"></div>
          </div>

          <div class="x_content">              
              <form class="form-horizontal form-label-left">                         
                    
                  <div class="form-group">
                      <div class="col-md-12 col-sm-6 col-xs-12 col-md-offset-0">                        
                        <div>
                          <a href="compras/compraMaiz.html" class="btn btn-primary"><i class="fa fa-plus"></i> Nueva Compra</a>                        
                        </div>
                      </div>
                  </div>    
              </form>              
              <br>
              <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th class="column-title"> </th>                      
                      <th class="column-title text-center">Fecha </th>
                      <th class="column-title text-center">RUC/RISE</th>
                      <th class="column-title text-center">Razón Social</th>
                      <th class="column-title text-center">Estado</th>                      
                      <th class="column-title text-center">Tipo de Pago</th>
                      <th class="column-title text-center">Total</th>                                      
                    </tr>
                  </thead>

                  <tbody>
                    <tr class="even pointer">
                      <td class="a-center ">
                       
                        <a href="compraMaiz.html" class="btn btn-info btn-xs"><i class="fa fa-edit"></i>  </a>
                        <!--<a href="compraMaiz.html" class="btn btn-info btn-xs"><i class="fa fa-edit"></i>  </a>-->
                        <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>  </a>
                      </td>                      
                      <td class="text-center">May 23, 2014</td>
                      <td class="text-center">1105547820</td>
                      <td class="text-center">222222222222222</td>                      
                      <td class="text-center">Facturado</td>
                      <td class="text-center">Credito</td>                      
                      <td class="text-center">22222</td>                                                            
                    </tr>
                    <tr class="even pointer">
                      <td class="a-center ">
                        <a href="compraMaiz.html" class="btn btn-info btn-xs"><i class="fa fa-edit"></i>  </a>
                        <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>  </a>
                      </td>
                      <td class="text-center">May 23, 2014 </td>
                      <td class="text-center">1105547820</td>
                      <td class="text-center">11111</td>
                      <td class="text-center">Por Facturar</td>
                      <td class="text-center">Contado</td>
                      <td class="text-center">11111</td>                                                                
                    </tr>
                    <tr class="even pointer">
                      <td class="a-center ">
                        <a href="compraMaiz.html" class="btn btn-info btn-xs"><i class="fa fa-edit"></i>  </a>
                        <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>  </a>
                      </td>
                      <td class="text-center">May 23,2020</td>
                      <td class="text-center">1105547820</td>
                      <td class="text-center">11111</td>                      
                      <td class="text-center">Facturar</td>                      
                      <td class="text-center">Finalizado</td>
                      <td class="text-center">11111</td>                                                             
                  </tr>                                     
                </tbody>
              </table>
              </div>                      
          </div>
        </div>

      </div>
  </div>
    <!-- /Form para el ingreso de los datos de una empresa nueva -->
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
    <!-- jquery.inputmask -->
  <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
 {% endblock javascripts %}
