{% extends "app/base_site.html" %}

{% block title %} Inventario de Compras {% endblock title %}


{% block content %}
  <div class="right_col" role="main">
    
    <!-- /Form para el ingreso de los datos de una empresa nueva -->
    <div class="row">
      <!-- form para el ingreso de los datos de una nueva compra -->
    <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Inventario de Compras</h2>
            
            <div class="clearfix"></div>
          </div>

          <div class="x_content">              
                                                  
            <div class="x_content">              
              <div class="table-responsive">
                
                <table id="datatable" class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">                                         
                      <th class="column-title text-center">Fecha </th>
                      <th class="column-title text-center">Identificación</th>
                      <th class="column-title text-center">Razón Social Productor</th>                      
                      <th class="column-title text-center">Peso Neto </th>
                      <th class="column-title text-center">Peso Quintales </th>                                      
                    </tr>
                  </thead>

                  <tbody>
                    <tr class="even pointer">                   
                      <td class="text-center">May 23, 2014 11:47:56 PM </td>
                      <td class="text-center">1105547820001</td>
                      <td class="text-center">Asociación de Favicultores del Ecuador</td> 
                      <td class="text-center">22222</td>
                      <td class="text-center">25</td>                                                                
                    </tr>
                    <tr class="even pointer">                      
                      <td class="text-center">May 23, 2014 11:47:56 PM </td>
                      <td class="text-center">1105547820001</td>
                      <td class="text-center">Asociación de Favicultores del Ecuador</td> 
                      <td class="text-center">22222</td>
                      <td class="text-center">25</td>                                                                
                    </tr>
                    <tr class="even pointer">                     
                      <td class="text-center">May 23, 2014 11:47:56 PM </td>
                      <td class="text-center">1105547820001</td>
                      <td class="text-center">Asociación de Favicultores del Ecuador</td>
                      <td class="text-center">22222</td>
                      <td class="text-center">25</td>                                                                
                    </tr>
                    <tr class="even pointer">                   
                      <td class="text-center">May 23, 2014 11:47:56 PM </td>
                      <td class="text-center">1105547820001</td>
                      <td class="text-center">Asociación de Favicultores del Ecuador</td> 
                      <td class="text-center">22222</td>
                      <td class="text-center">25</td>                                                                
                    </tr>
                    <tr class="even pointer">                   
                      <td class="text-center">May 23, 2014 11:47:56 PM </td>
                      <td class="text-center">1105547820001</td>
                      <td class="text-center">Asociación de Favicultores del Ecuador</td> 
                      <td class="text-center">22222</td>
                      <td class="text-center">25</td>                                                                
                    </tr>
                    <tr class="even pointer">                   
                      <td class="text-center">May 23, 2014 11:47:56 PM </td>
                      <td class="text-center">1105547820001</td>
                      <td class="text-center">Asociación de Favicultores del Ecuador</td> 
                      <td class="text-center">22222</td>
                      <td class="text-center">25</td>                                                                
                    </tr>
                    <tr class="even pointer">                     
                      <td class="text-center">May 23, 2014 11:47:56 PM </td>
                      <td class="text-center">1105547820001</td>
                      <td class="text-center">Asociación de Favicultores del Ecuador</td>
                      <td class="text-center">11111</td>
                      <td class="text-center">25</td>                                                                
                    </tr>
                    <tr class="even pointer">                     
                      <td class="text-center">May 23, 2014 11:47:56 PM </td>
                      <td class="text-center">1105547820001</td>
                      <td class="text-center">Asociación de Favicultores del Ecuador</td>
                      <td class="text-center">11111</td>
                      <td class="text-center">25</td>                                                                
                    </tr>
                    <tr class="even pointer">                     
                      <td class="text-center">May 23, 2014 11:47:56 PM </td>
                      <td class="text-center">1105547820001</td>
                      <td class="text-center">Asociación de Favicultores del Ecuador</td>
                      <td class="text-center">11111</td>
                      <td class="text-center">25</td>                                                                
                    </tr> 
                    <tr class="even pointer">                     
                      <td class="text-center">May 23, 2014 11:47:56 PM </td>
                      <td class="text-center">1105547820001</td>
                      <td class="text-center">Asociación de Favicultores del Ecuador</td>
                      <td class="text-center">11111</td>
                      <td class="text-center">25</td>                                                                
                    </tr> 
                    <tr class="even pointer">                     
                      <td class="text-center">May 23, 2014 11:47:56 PM </td>
                      <td class="text-center">1105547820001</td>
                      <td class="text-center">Asociación de Favicultores del Ecuador</td>
                      <td class="text-center">11111</td>
                      <td class="text-center">25</td>                                                                
                    </tr> 
                    <tr class="even pointer">                     
                      <td class="text-center">May 23, 2014 11:47:56 PM </td>
                      <td class="text-center">1105547820001</td>
                      <td class="text-center">Asociación de Favicultores del Ecuador</td>
                      <td class="text-center">11111</td>
                      <td class="text-center">25</td>                                                                
                    </tr>                                                        
                </tbody>
                </table>
                <div class="row no-print">
                  <div class="col-xs-12">
                    <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Imprimir</button>                    
                    <button class="btn btn-primary "><i class="fa fa-download"></i> Generar PDF</button>
                  </div>
                </div>
              </div>                      
          </div>
          </div>
        </div>
      </div>
  </div>
  </div>
{% endblock content %}


 {% block javascripts %}
 {{ block.super }}
 <!-- Datatables -->
 <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
 <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

{% endblock javascripts %}


