{% extends "app/base_site.html" %}

{% block title %} Listado de Ventas {% endblock title %}


{% block content %}
  <div class="right_col" role="main">
    
   
    <div class="row">
      
    <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Listado de Ventas de Maíz Amarillo Duro</h2>            
            <div class="clearfix"></div>
          </div>
                                                          
            <div class="x_content">              
              <div class="table-responsive">
                  
                <table id="lista_inventario" class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">                                        
                        <th class="column-title text-center">Fecha </th>
                        <th class="column-title text-center">Identificación</th>
                        <th class="column-title text-center">Fecha</th>                      
                        <th class="column-title text-center">Peso Neto </th>
                        <th class="column-title text-center">Peso Quintales </th>                                     
                    </tr>
                  </thead>
                  <tbody>
                    {% for inv in inventario %}
                    <tr class="even pointer">                                          
                      <td class="text-center">{{inv.descripcion}} </td>
                      <td class="text-center">{{inv.cantidad}} </td>
                      <td class="text-center"> {{inv.unidadMedida}} </td>
                      <td class="text-center"> {{inv.stock}} </td> 
                      <td class="text-center">{{inv.idProveedor}}</td>
                    </tr>
                    {% endfor %}                   
                  </tbody>
                </table>
                <div class="row no-print">
                  <div class="col-xs-12">
                    <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Imprimir</button>                    
                    <button class="btn btn-primary "><i class="fa fa-download"></i> Generar PDF</button>
                  </div>
                </div>
              </div>                      
          </div>
          </div>
        </div>
      </div>
  </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
    <!-- Datatables -->
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
 {% endblock javascripts %}


