{% extends "app/base_site.html" %}

{% block title %}Editar Inventario {% endblock title %}


{% block content %}
  <div class="right_col" role="main">
    
    <div class="row">
        
        <!-- form para el ingreso de los datos de una nueva compra -->
      <div class="clearfix"></div>

        
    </div>
    <!-- /Form para el ingreso de los datos de una empresa nueva -->
    <div class="row">
        <div class="col-md-8 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Datos Generales</h2>
              
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form class="form-horizontal form-label-left input_mask">

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <input type="text" class="form-control" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Proveedor</label>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                        <select class="form-control">
                           <option>Proveedor 1</option>
                           <option>Proveedor 2</option>
                           <option>Proveedor 3</option>
                           <option>Proveedor 4</option>
                           <option>Proveedor 5</option>
                        </select>
                    </div>
                    <a href="nuevoProveedor.html" class="btn btn-success"><i class="fa fa-building"></i> Nuevo Proveedor</a>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Cantidad Mínima (*)</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <input type="text" class="form-control" placeholder="10.00">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Cantidad Máxima (*)</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                       <input type="text" class="form-control" placeholder="20.00">
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="button" class="btn btn-primary">Cancelar</button>
                    <button type="reset" class="btn btn-primary">Borrar</button>
                    <button type="submit" class="btn btn-success">Guardar</button>
                  </div>
                </div>
                          
              </form>
            </div>
          </div>

        </div>
        </div>
      </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
    <!-- jquery.inputmask -->
  <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
 {% endblock javascripts %}
