{% extends "app/base_site.html" %}



{% block title %} Editar Inventario {% endblock title %}


{% block content %}
  <div class="right_col" role="main">
    
    
    <div class="row">
        <!-- form para el ingreso de los datos de una nueva compra -->
      <div class="clearfix"></div>

        
    </div>
    <!-- /Form para el ingreso de los datos de una empresa nueva -->
    <div class="row">
        <div class="col-md-8 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Editar Inventario</h2>
              
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
               
              <form method="POST"  class="form-horizontal form-label-left input_mask">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Descripción</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      {{form.descripcion}}                   
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Cantidad</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      {{form.cantidad}}                   
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Stock</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      {{form.stock}}                   
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Estado</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      {{form.estado}}                   
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Unidad</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      {{form.unidadMedida}}                   
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Proveedor</label>
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                      {{form.idProveedor}}                        
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Cantidad Mínima (*)</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      {{form.cantidadMin}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Cantidad Máxima (*)</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      {{form.cantidadMax}}
                    </div>
                </div>
                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-10">
                    <button type="submit" class="btn btn-success">Actualizar                     
                    </button>
                    
                  </div>
                </div>
                          
              </form>
            </div>
          </div>

        </div>
        </div>
      </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  
    <!-- jquery.inputmask -->
  <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
 {% endblock javascripts %}
