{% extends "app/base_site.html" %}

{% block title %} Inventario de Insumos e Implementos {% endblock title %}


{% block content %}
  <div class="right_col" role="main">
    
   
    <div class="row">
      
    <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Inventario de Insumos e Implementos</h2>
            
            <div class="clearfix"></div>
          </div>

          <div class="x_content">                         
            <div class="col-xs-12">                             
              <a href="{% url 'crear_proveedor' %}" class="btn btn-success pull-right"><i class="fa fa-building"></i> Nuevo Proveedor</a>
              <a href="{% url 'crear_inventario' %}" class="btn btn-success pull-right"><i class="fa fa-cubes"></i> Nuevo Artículo</a> 
                           
              <a href="{% url 'ingreso_i' %}" class="btn btn-warning btn-xs" ><i class="fa fa-plus-circle"> Ingreso</i>  </a>
              <a href="{% url 'salida_i' %}" class="btn btn-info btn-xs"><i class="fa fa-minus-circle"> Egreso</i></a> 
            </div>                                                  
            <div class="x_content">              
              <div class="table-responsive">
                  
                <table id="lista_inventario" class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">                                         
                      <th class="column-title text-center"> </th>                      
                      <th class="column-title text-center">Descripción</th>
                      <th class="column-title text-center">Cantidad</th>
                      <th class="column-title text-center">Unidad</th>
                      <th class="column-title text-center">Stock</th>
                      <th class="column-title text-center">Proveedor</th>
                      <th class="column-title text-center">E. Mínima</th>
                      <th class="column-title text-center">E. Maxima</th>                       
                      <th class="column-title text-center">Estado</th>                                     
                    </tr>
                  </thead>

                  <tbody>
                    {% for inv in inventario %}
                    <tr class="even pointer">
                      <td class="a-center ">
                        <a href="{% url 'ajuste_i' %}" class="btn btn-warning btn-xs" ><i class="fa fa-cogs"></i>  </a>                        
                        <a href="{% url 'ingreso_i' %}" class="btn btn-warning btn-xs" ><i class="fa fa-plus-circle"></i>  </a>
                        <a href="{% url 'editar_inventario1' inv.id %}" class="btn btn-info btn-xs"><i class="fa fa-edit"></i>  </a>
                        <a href="{% url 'eliminar_inventario' inv.id %}" class="btn btn-danger btn-xs"><i class="fa fa-minus-circle"> </i></a>                  
                      </td>                                           
                      <td class="text-center">{{inv.descripcion}} </td>
                      <td class="text-center">{{inv.cantidad}} </td>
                      <td class="text-center"> {{inv.unidadMedida}} </td>
                      <td class="text-center"> {{inv.stock}} </td> 
                      <td class="text-center">{{inv.idProveedor}}</td>
                      <td class="text-center">{{inv.cantidadMax}}</td>
                      <td class="text-center">{{inv.cantidadMin}}</td>
                      <td class="text-center"> {{inv.estado}} </td>
                    </tr>
                    {% endfor %}                   
                  </tbody>
                </table>
                <div class="row no-print">
                  <div class="col-xs-12">
                    <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Imprimir</button>                    
                    <button class="btn btn-primary "><i class="fa fa-download"></i> Generar PDF</button>
                  </div>
                </div>
              </div>                      
          </div>
          </div>
        </div>
      </div>
  </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
    <!-- jquery.inputmask -->
  <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <!-- Datatables -->
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
 {% endblock javascripts %}


